*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

/*Typo*/
.header-title{
    margin-top: 0;
    font-size: 1.2rem;
    margin-left: 0.5em;
    font-family: 'Fira Mono', monospace;
    color: #fff;
    transform: scale(1);
    transition: all 0.5s;
}
.list-link{
    cursor: pointer;
    font-size:2rem;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    transition: all 0.5s;
}
.active{
    border-bottom: 2px solid #fff;
}
/*Header*/
header{
    display: flex;
    padding: 1em 0.5em;
    background-color: #000;
    justify-content: space-between;
}

.header-container{
    display: flex;
    padding: 1em;
    width: 100%;
}
.header-logo{
    margin-top: 0em;
    height: 70%;
}
.navbar{
    background: #000;
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    height: 100%;
    transition: all 0.5s;
}
.close-nav{
    transform: translateY(-100%);
}
.nav-close-btn{
    cursor: pointer;
    position: fixed;
    top: 2%;
    left: 2%;
    color: #fff;
    font-size: 3rem;
    background: none;
    border: none;
    transition: all 0.5s;
    transform: scale(1);
}
.nav-close-btn:hover,
.nav-close-btn:focus{
    transform: scale(1.5);
    color: #ff0000;
}
.nav-open-btn{
    right: 4%;
    top: 2.5%;
    position: absolute;
    font-size: 2rem;
    background: none;
    border: none;
    transition: all 0.5s;
    transform: scale(1);
    color: #fff;
    cursor: pointer;
}
.nav-open-btn:focus,
.nav-open-btn:hover{
    transform: scale(1.5);
}
.list-item{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.list-li{
    list-style: none;
    transition: all 0.5s;
    transform: scale(1);
   
}
.list-li:hover,
.list-li:focus{ 
    transform: scale(1.3);
}
.list-link:hover,
.list-link:focus{
    color: #fff200;
}
.header-title-nav-link{
    text-decoration: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}
.header-title:hover{
    transform: scale(1.05,1.3);
}

@media(min-width:720px){
    header{
        padding: 1em 2em;
        justify-content: space-between;
    }
    .header-container{
        width: 50%;
    }
    .header-title{
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    .nav-close-btn,
    .nav-open-btn{
        display: none;
    }
    .close-nav{
        transform: none;
    }
    .navbar{
        background-color: none;
        position: initial;
        
    }
    .header-logo{
        height: 100%;
    }
    .list-item{
        flex-direction: row;
        gap: 3em;
        justify-content: flex-end;
        margin-top: 1.5em;
        margin-bottom: 0;
    }
    .list-link{
        font-size: 1.2rem;
    }
}


/*Section*/


.section-one{
    padding: 1em 1.5em;
    justify-content: end;
    align-items: start;
    display: flex;
    flex-direction: column;
    height: 87vh;
    color: #fff;
    margin: 0;
    background: url('/images/section-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section-date{
    letter-spacing: 2px;
    font-family: 400;
    font-size: 1.2rem;
    margin-bottom: 0;
}
.section-title{
    margin-top: 0.2em;
    font-size: 1.8rem;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 0;
    letter-spacing: 2px;
    transition: all 0.5s;
    transform: scale(1);
}
.section-title:hover,
.section-title:focus{
    transform: scale(1.051);
}
.section-para{
    text-shadow: 1px 1px 4px #000;
    font-weight: 400;
    font-size: 1.215rem;
    letter-spacing: 2px;
}
.section-two-title{
    transform: scale(1);
    transition: all 0.5s;
}
.section-two-title:hover{
    transform: scale(1.1);
}

@media(min-width:720px){
    .section-para{
        width: 60%;
    }
}



/*Post Section*/
.section-two{
    padding: 1.5em;
}
.post-section{
    margin-bottom: 0;
}
.post-section-two{
    margin-top: 0;
}
.post-img{
    margin-top: 2em;
    width: 100%;
}

.section-two-date{
    margin-bottom: 0;
}
.section-two-title{
    letter-spacing: 2px;
    margin-top: 0.325em;
    margin-bottom: 0;
    font-size: 1.5rem;
}
.section-two-para{
    font-size: 1rem;
    margin-top: 0.521em;
    letter-spacing: 1px;
}

@media(min-width:720px){
    .section-two{
        display: flex;
        gap: 1em;
        justify-content: space-between;
    }
}

/*Footer*/
.footer{
    line-height: 0.5;
    text-align: center;
    padding: 1em;
    font-size: 1rem;
    color: #fff;
    background-color: #000;
}
.icon{
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0.51em;
    transition: all 0.5s;
    transform: scale(1);
}
.icon:focus,
.icon:hover,
.icon:active{
    transform: scale(1.5);
}


/*Journal Page*/
.top-content{
    text-align: center;

}
.journal-section-title{
    font-size: 2rem;
    margin: 0.50em 0;
}

.journal-img{
    width: 95%;
}
.journal-section-para{
    display: block;
    margin: 1.02em auto;
    width: 95%;
    letter-spacing: 2px;
    font-size: 1.2rem;
}
.journal-question{
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
.question{
    width: 95%;
    padding: 0 0.5em;
    margin: 0 auto;
    text-align: start;
}
@media(min-width:720px){
    .journal-section-para{
        width: 80%;
    }
}



/*ABout Page*/
.about-container{
    padding: 1em 1.5em;
}
.highlight{
    font-weight: 700;
    color: #ff0000;
}
.about-img{
    width: 50%;
    border-radius: 50%;
    border: 4px solid #000;
}
.about-para{
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: 1px;
}
@media (min-width:720px) {
    .about-container{
        display: flex;
        gap: 2em;
    }
    .about-details{
        margin-top: 2em;
    }
    .about-img{
        width: 20%;
    }
}